url = ":8080"

[logger]
    level = "debug"
    format = "text"

[sql]
    driver = "postgres"
    connectionString = "user=postgres password=postgres host={{host}} port=5432 dbname=tbg_nodes_test sslmode=disable"
