<header>
  <div class="entry-pages-navbar">
    <div class="entry-pages-navbar-content register-navbar">
      <div><img src="<%= Routes.static_path(@socket, "/images/blyver-purple.png") %>" alt="Logo"/></div>
      <div>Register a new account</div>
    </div>
  </div>
</header>
<section class="container entry-pages-content">
  <%= @inner_content %>
</section>
