<header>
  <div class="entry-pages-navbar">
    <div class="entry-pages-navbar-content reset-password-navbar">
      <div>Recover your password</div>
    </div>
  </div>
</header>
<section class="container entry-pages-content">
  <%= @inner_content %>
</section>
