Hi,

Forgot your password? Happens to the best. Follow the link below to create a new password.

<%= @url %>

Did you not do this? Please check your account. You can alwasy reach 
us on <%= support_email() %>