<p>Hi,</p>
<p>Forgot your password? Happens to the best. Follow the link below to create a new password.</p>
<p><%= link("Recover", to: @url, class: "button") %></p>
<p>Did you not do this? Please check your account. You can always reach us on
  <%= link("support@blyver.com", to: mail_to_support(), class: "link") %>
</p>
<p>See you,</p>
<p>Team Blyver</p>
